@model ParkCarViewModel


<select asp-for="Owner.Id" class="form-select">

    <option value="">-Välj ägare-</option>

    @foreach (var vt in Model.Owners)
    {
        <option value="@vt.Id">@vt.FirstName @vt.LastName</option>
    }
</select>
