@model VehicleTypeViewModel


<select asp-for="Id" class="form-select">

    <option value="">Välj Fordon</option>

    @foreach (var vt in Model.VehicleTypes)
    {
        <option value="@vt.Id">@vt.VType</option>
    }
</select>

