@model ParkCarViewModel


<h1>Parkera ditt fordon</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ParkCar" id="formid">

            @Html.AntiForgeryToken();

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group mt-2" id="dropdownlistfor">
                @await Html.PartialAsync("_VehicleTypeDropdown"); 
            </div>


@*            <div class="form-group mt-2" id="dropdownlistfor">

                <select asp-for="VehicleType.VType" class="form-select">

                    <option value="">Välj Fordon</option>

                    @foreach (var vt in Model.VehicleTypes)
                    {
                        <option value="@vt.Id.ToString()">@vt.VType</option>
                    }

                </select>
            </div>*@

            <div class="form-group mt-2">
                <label asp-for="RegNr" class="control-label"></label>
                <input asp-for="RegNr" class="form-control" />
                <span asp-validation-for="RegNr" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Wheels" class="control-label"></label>
                <input asp-for="Wheels" class="form-control" />
                <span asp-validation-for="Wheels" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Lägg till i garage" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tillbaka till listan</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
