@model ParkCarViewModel





@if (Model.CurrentGarageCount >= Model.GarageCapacity)
{

    <div class="card">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <h5 class="card-title text-danger">INFORMATION</h5>
            <h4 class="card-text text-danger">
                Just nu är det fullt i garaget.
                Max-kapacitet: @Model.GarageCapacity | Samtliga platser är tyvärr upptagna
            </h4>

            <br>
            <p class="fw-bold">
                Boka en plats redan nu så skickar vi dig ett sms när du det finns platser lediga igen.<br>
                VÄLJ <a href="#">BOKA</a>
            </p>


            <hr>
            <h3>Försök igen lite senare</h3>


            <a href="index" class="btn btn-primary"> Gå tillbaka</a>
        </div>
    </div>
}
else
{
    <hr />
    <div class="row">
        <div class="col-md-4">

            <h1>Parkera ditt fordon</h1>

            <form asp-action="ParkCar" id="formid">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group mt-2" id="dropdownlistfor">
                    @await Html.PartialAsync("_VehicleTypeDropdown", Model.VehicleVM);
                </div>

                @if (Model.Owners.Any())
                {
                    <div class="form-group mt-2" id="dropdownlistfor">
                        @await Html.PartialAsync("_OwnerDropdown");
                    </div>
                }

                <div class="form-group mt-2">
                    <label asp-for="RegNr" class="control-label"></label>
                    <input asp-for="RegNr" class="form-control" />
                    <span asp-validation-for="RegNr" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <label asp-for="Color" class="control-label"></label>
                    <input asp-for="Color" class="form-control" />
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <label asp-for="Wheels" class="control-label"></label>
                    <input asp-for="Wheels" class="form-control" />
                    <span asp-validation-for="Wheels" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <label asp-for="Brand" class="control-label"></label>
                    <input asp-for="Brand" class="form-control" />
                    <span asp-validation-for="Brand" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <label asp-for="CarModel" class="control-label"></label>
                    <input asp-for="CarModel" class="form-control" />
                    <span asp-validation-for="CarModel" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Lägg till i garage" class="btn btn-primary" />
                </div>
            </form>


            @if (!string.IsNullOrWhiteSpace(Model.UserMessage))
            {
                <p class="text-danger">@Model.UserMessage</p>
            }

            </div>
        </div>

        <div>
            <a asp-action="Index">Tillbaka till listan</a>
        </div>
}




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
