@model SearchViewModel

<div class="row">

    <div class="col-md-6">
        <form asp-action="FindVehicle" asp-controller="Search">
            <div class="mb-3">
                <label for="searchoptid" class="form-label">Ange Sökkritera</label>
                <input asp-for="SearchOption" type="text" class="form-control" id="regme" aria-describedby="reghelp">
                <div id="reghelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>


            <button type="submit" class="btn btn-primary">Sök</button>
        </form>

        @if (!string.IsNullOrWhiteSpace(Model.UserInfo))
        {
            <p class="text-danger">@Model.UserInfo</p>
        }

    </div>


    <!-- Result from search -->
    @if (Model.Vehicles is not null && Model.Vehicles.Any())
    {
        @await Html.PartialAsync("_SearchVehicleTable")
    }

    <div class="mt-4">
        <a class="fw-bold" asp-controller="Search" asp-action="Load">Tillbaka</a>
    </div>

</div>







